*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;    
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/*Selectores por Clases CSS*/
.menuLeft{
    width: 12%;
    float: left;
}
.imagenEncabezado{
    background-image: url(http://localhost:8282/AtelierMaven.web-1.0/faces/javax.faces.resource/img/elatelier.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: auto;
}
.bodyLogin{
    background-image: url(http://localhost:8282/AtelierMaven.web-1.0/faces/javax.faces.resource/img/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.login{
    max-width: 500px;
    margin: auto;
    margin-top: 20%;
}
.panelPrinLogin{
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px ;
    box-shadow: 5px 5px 15px rgba(0,0,0);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0);
}
.panelLogin{
    width: 100%;
    margin: auto;
    border: 3px solid #f1f1f1 ;
    border-radius: 6px ;
}
.inputLogin{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color:black;    
}

.menuSup{
    background-image: url(http://localhost:8282/AtelierMaven.web-1.0/faces/javax.faces.resource/img/elatelier.jpg);
    background-position: center center;
    background-size: cover;
    visibility: visible;
    height: 111px;
    display: block;
    clear: both; 
}
.sectionContent{
    width: 100%;
    float: left;
    margin-left: 200px;
    height: 100%;
}
/*Selectores por TAG*/
button {
    background-color: #4CAF50 ;
    color: white ;
    padding: 14px 20px ;
    margin: 8px 0 ;
    border: none ;
    cursor: pointer ;
    width: 100% ;
    padding: 10px !important; 
}

button:hover {
    opacity: 0.8;
}

input[type=text], input[type=password] {
    width: 100% ;
    padding: 12px 20px ;
    margin: 8px 0 ;
    display: inline-block ;
    border: 1px solid #ccc ;    
}

footer{
    clear:both;
}
aside{
    width: 200px;
    float: left;
    position: fixed;
    height: auto;
}